<extend name="./Public/public" />
<block name="fl"></block>
<block name="title">
  <title>确认订单</title>
</block>
<block name="top">
</block>
<block name="center">
  <link rel="stylesheet" href="__PUBLIC__/Home/css/dd.css">
  <div id="quan">
    <div class="tou">
      <div class="logo"><a href="{:U('Home/Index/index')}"><img src="__PUBLIC__/Home/images/c.png" alt=""></div></a>
      <div class="bu" style="background:url('__PUBLIC__/Home/images/dd.png');"></div>
    </div>
    
    <form method="post" action="{:U('Home/Myorder/insert')}" >
    <div class="spbiao">
      <div class="cart_goods">
      <!-- 收货地址 -->
      <div class="dizhi">
        <div class="dzhead">
          选择收货地址
        </div>
        <div>
          <a href="{:U('Home/Address/detail')}">编辑地址</a>
        </div></br>
        
        
        <div class="dz1">
          <foreach name="info2" item="vo">
          <div class="dz2"style="background: url('__PUBLIC__/Home/images/dzbg1.png');">
            <div class="dz_name">
              <input type="radio" value="{$vo.id}" name="address"><span>{$vo.linkman}</span>
            </div>
            <div class="dz_ad">
              <span>{$vo.address}</span>
            </div>
            <div class="dz_phone">
              {$vo.phone}
            </div>
          </div> 
          </foreach> 

        </div>

      </div>
      <!-- 确认商品信息 -->
      <div class="sp">
        确认商品信息
      </div>
        <table cellspacing="1" width="100%" class="table" >
          <tr height="49px" class="b1"align="center">
            <td width="120px">商品编号</td>
            <td>商品图片</td>
            <td>商品名称</td>
            <td>单价(元)</td>
            <td>数量</td>
            <td>小计(元)</td>
            <!-- <td>操作</td> -->
          </tr>
          <foreach name="cart" item="vo" > 
          <!-- <foreach name="info1" item="vo" >   -->
            <tr height="113px" class="b2"align="center">
              <td class="sid">{$vo.id}</td>
              <td class="img"><img src="__PUBLIC__{$vo.pic}" alt=""></td>
              <td>{$vo.name}</td>
              <td class="price">{$vo.price}</td>
              <td><span>{$vo.gnum}<?php $znum += $vo['gnum'] ?></span></td>
              <td class="xj"><?php  $xj=$vo['price']*$vo['gnum']; 
                $total += $xj;
                echo $xj;
              ?></td>
            </tr>
          </foreach>
          <tr height="50px" align="center" class="zj">
            <!-- <td><p style="cursor:pointer" class="qingkong">清空购物车</p></td> -->
            <td align="center"><a href=""></a></td>
            <td colspan="5" align="right">配送方式：
            <select name="way" id="way">
              <option value="顺丰">顺丰</option>
              <option value="申通">申通</option>
              <option value="EMS">EMS</option>
            </select>&nbsp;&nbsp;
            总计:&nbsp;&nbsp;<span class="jiage">¥ </span><span class="jiage total"><?php echo $total;?></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="hidden" name="total" value="<?php echo $total;?>">
            <input type="submit" class="qfk" value="确认并付款"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  </form>
  <script type="text/javascript"src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript">
    $(function(){
      $('.dz2').mouseover(function(){
        // alert('111');
        $(this).css({background:'url("__PUBLIC__/Home/images/dzbg.png")'});
      })
      $('.dz2').mouseout(function(){
        // alert('111');
        $(this).css({background:'url("__PUBLIC__/Home/images/dzbg1.png")'});
      })
      $('.dz2').find('input').click(function(){
        $(this).parents('.dz2').unbind("mouseover");
        $(this).parents('.dz2').unbind("mouseout");
        $(this).parents('.dz2').css({background:'url("__PUBLIC__/Home/images/dzbg2.png")'});
        $(this).parents('.dz2').siblings().css({background:'url("__PUBLIC__/Home/images/dzbg1.png")'});
      })
    })
  </script>
</block>