<extend name="./Public/public" />
<block name="title">
    <h1 class="page-header">修改活动</h1>
</block>

<block name="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                   
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" method="post" action="{:U('Admin/Activity/update')}" enctype="multipart/form-data">
                                <input type="hidden" name='id' value="{$res['id']}">
                               
                                <div class="form-group">
                                    <label>活动名称</label>
                                    <input name="name" value="{$res['name']}" class="form-control">
                                </div>

                                 <div class="form-group">
                                    <label>折扣</label><br>
                                    <input type="radio" name="zhekou"  value='0.5' <if condition="$res['zhekou'] eq 0.5">checked</if>>全场半价&nbsp;
                                    <input type="radio" name="zhekou"  value='0.8' <if condition="$res['zhekou'] eq 0.8">checked</if>>全场八折&nbsp;
                                    <input type="radio" name="zhekou"  value='0.7' <if condition="$res['zhekou'] eq 0.7">checked</if>>全场七折&nbsp;
                                  
                                </div>
                                <div class="form-group">
                                    <label>状态</label><br>
                                    <input type="radio" name="status" value='0' <if condition="$res['status'] eq 0">checked</if>>开启&nbsp;
                                    <input type="radio" name="status" value='1' <if condition="$res['status'] eq 1">checked</if>>关闭&nbsp;
                              
                                  
                                </div>
                                 <div class="form-group">
                                    <label>截止月份</label>
                                    <select name="month" class="form-control">
                                        <option value="0">请选择</option>
                                        <option value="1" <if condition="$res['month'] eq 1">selected</if>>1月</option>
                                        <option value="2" <if condition="$res['month'] eq 2">selected</if>>2月</option>
                                        <option value="3" <if condition="$res['month'] eq 3">selected</if>>3月</option>
                                        <option value="4" <if condition="$res['month'] eq 4">selected</if>>4月</option>
                                        <option value="5" <if condition="$res['month'] eq 5">selected</if>>5月</option>
                                        <option value="6" <if condition="$res['month'] eq 6">selected</if>>6月</option>
                                        <option value="7" <if condition="$res['month'] eq 7">selected</if>>7月</option>
                                        <option value="8" <if condition="$res['month'] eq 8">selected</if>>8月</option>
                                        <option value="9" <if condition="$res['month'] eq 9">selected</if>>9月</option>
                                        <option value="10" <if condition="$res['month'] eq 10">selected</if>>10月</option>
                                        <option value="11" <if condition="$res['month'] eq 11">selected</if>>11月</option>
                                        <option value="12" <if condition="$res['month'] eq 12">selected</if>>12月</option>
                                    </select>
                                </div>
                                 <div class="form-group">
                                    <label>截止日期</label>
                                    <select name="day" class="form-control">
                                        <option value="0">请选择</option>
                                        <option value="1" <if condition="$res['day'] eq 1">selected</if>>1日</option>
                                        <option value="2" <if condition="$res['day'] eq 2">selected</if>>2日</option>
                                        <option value="3" <if condition="$res['day'] eq 3">selected</if>>3日</option>
                                        <option value="4" <if condition="$res['day'] eq 4">selected</if>>4日</option>
                                        <option value="5" <if condition="$res['day'] eq 5">selected</if>>5日</option>
                                        <option value="6" <if condition="$res['day'] eq 6">selected</if>>6日</option>
                                        <option value="7" <if condition="$res['day'] eq 7">selected</if>>7日</option>
                                        <option value="8" <if condition="$res['day'] eq 8">selected</if>>8日</option>
                                        <option value="9" <if condition="$res['day'] eq 9">selected</if>>9日</option>
                                        <option value="10" <if condition="$res['day'] eq 10">selected</if>>10日</option>
                                        <option value="11" <if condition="$res['day'] eq 11">selected</if>>11日</option>
                                        <option value="12" <if condition="$res['day'] eq 12">selected</if>>12日</option>
                                        <option value="13" <if condition="$res['day'] eq 13">selected</if>>13日</option>
                                        <option value="14" <if condition="$res['day'] eq 14">selected</if>>14日</option>
                                        <option value="15" <if condition="$res['day'] eq 15">selected</if>>15日</option>
                                        <option value="16" <if condition="$res['day'] eq 16">selected</if>>16日</option>
                                        <option value="17" <if condition="$res['day'] eq 17">selected</if>>17日</option>
                                        <option value="18" <if condition="$res['day'] eq 18">selected</if>>18日</option>
                                        <option value="19" <if condition="$res['day'] eq 19">selected</if>>19日</option>
                                        <option value="20" <if condition="$res['day'] eq 20">selected</if>>20日</option>
                                        <option value="21" <if condition="$res['day'] eq 21">selected</if>>21日</option>
                                        <option value="22" <if condition="$res['day'] eq 22">selected</if>>22日</option>
                                        <option value="23" <if condition="$res['day'] eq 23">selected</if>>23日</option>
                                        <option value="24" <if condition="$res['day'] eq 24">selected</if>>24日</option>
                                        <option value="25" <if condition="$res['day'] eq 25">selected</if>>25日</option>
                                        <option value="26" <if condition="$res['day'] eq 26">selected</if>>26日</option>
                                        <option value="27" <if condition="$res['day'] eq 27">selected</if>>27日</option>
                                        <option value="28" <if condition="$res['day'] eq 28">selected</if>>28日</option>
                                        <option value="29" <if condition="$res['day'] eq 29">selected</if>>29日</option>
                                        <option value="30" <if condition="$res['day'] eq 30">selected</if>>30日</option>
                                        <option value="31" <if condition="$res['day'] eq 31">selected</if>>31日</option>


                                    </select>
                                </div>
                                

                                
                                <button class="btn btn-primary btn-lg btn-block" >修改</button>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</block>