<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/zhuce2.css">
	<link rel="icon" href="__PUBLIC__/Home/images/logo.ico">
	<title>注册_蘑菇街</title>
</head>
<body>
	<div id="zc">
		<!-- logo显示 -->
		<div class="zc_logo"><img src="__PUBLIC__/Home/images/logo.png"></div>
		<!-- 主体内容 -->
		<div class="zc_main">
			<!-- 大图片 -->
			<div class="img"><img src="__PUBLIC__/Home/images/zhuce.jpg" alt=""></div>
			<!-- 注册表单 -->
			<div class="form">
				<!-- 表头 -->
				<div class="form_head">
					<div class="head"><b>新用户注册</b></div>
				</div>
				<!-- 表单主体 -->
				<div class="form_main">
					<div class="main">
						<form action="{:U('/Home/User/registr')}" method="post">
						<div class="username_code">
							<img src="__PUBLIC__/Home/images/code.png" alt="">
								<span></span>
							</div>
							<input type="text" name="username" class="username" placeholder="用户名" readme="请设置用户名(6-20位字母数字下划线)">
							<div class="pwd_code">
							<img src="__PUBLIC__/Home/images/code.png" alt="">
								<span>请设置密码(6-20位字母数字下划线)</span>
							</div>
							<input type="password" name="password" class="password" placeholder="密码"readme="请设置密码(6-20位字母数字下划线)">
							<div class="repwd_code">
							<img src="__PUBLIC__/Home/images/code.png" alt="">
								<span>请确认密码</span>
							</div>
							<input type="password" name="repassword" class="repassword" placeholder="确认密码"readme="请确认密码">
							<button class="tj">注册</button>
							<div class="login"><a href="{:U('index.php/Home/User/login')}">已有账号</a></div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<div id="button">
			<div class="button_left">
				<table class="one">
					<tr class="a">
						<td>新手帮助</td>
						<td>权益保障</td>
						<td>商家服务</td>
					</tr>
					<tr class="b">
						<td>如何购买</td>
						<td>全国包邮</td>
						<td>免费开店</td>
					</tr>
					<tr class="c">
						<td>支付教程</td>
						<td>无理由退货</td>
						<td>商家社区</td>
					</tr>
					<tr class="d">
						<td>优惠券使用</td>
						<td>退货运费补贴</td>
						<td>商家入驻</td>
					</tr>
					<tr class="e">
						<td>常见问题</td>
						<td>72小时发货</td>
						<td>管理后台</td>
					</tr>
					
				</table>
			</div>
			<div style="clear:both"></div>
			
			<div id="button_right">
				<table class="two">
					<tr>
						<td>蘑菇街移动客户端</td>
					</tr>
					<tr>
						<td><img src="__PUBLIC__/Home/images/26.png"></td>
					</tr>
				</table>
				<div class="banquan">
					<p>&copy;Copyright 2010-2016蘑菇街 Mogujie.com (增值电信业务经营许可证：浙B2-20110349)</p>
				</div>
			</div>
	<script type="text/javascript"src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript"src="__PUBLIC__/Home/js/zhuce2.js"></script>
</body>
</html>