<extend name="./Public/public" />
<block name="fl"></block>
<block name="center">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/list.css">
	<script type="text/javascript"src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<div id="list">
	<!-- 分类 -->
		<div class="list_fl">
			<foreach name="list[0]" item="vo" >
			<li><a href="{:U('Home/list/lb',array('id'=>$vo['id']))}">{$vo.catename}</a>
				<foreach name="list[$vo['id']]" item="vo2" >
				<div class="a"><a href="{:U('Home/list/lb',array('id'=>$vo2['id']))}">{$vo2.catename}</a></div>
				</foreach>
			</li>
			</foreach>
		</div>
		<!-- 两张图片 -->
		<div class="l">
			<img src="__PUBLIC__/Home/images/10.jpg" style="border-radius: 10px;" width="1212"  alt="">
		</div>
		<div class="name">
		<?php
				$id=$_GET['id'];
				$sql='select * from category where id = '.$id;
				$res=mysql_query($sql);
				$row=mysql_fetch_assoc($res);
				
		?>	
			<h1 style="color:blue;">{$row.catename}</h1>	
			<hr width="1200px" style="color:#ccc;">
		</div>
		
		<div class="list_goods">
		<foreach name="result" item="vo" >
			<div class="list_g1">
				<dl>
					<dt><a href="{:U('Home/Detail/index',array('id'=>$vo['id']))}"><img src="__PUBLIC__/{$vo.pic}" width="179" height="190" alt=""></a></dt>
					<dd class="goods_name"><a href="{:U('Home/Detail/index',array('id'=>$vo['id']))}">{$vo.name}</a></dd>
					<dd class="goods_price">￥{$vo.price}</dd>	
				</dl>
			</div>	
		</foreach>
		</div>
		<div class="c"></div>
		
	</div>
	<script type="text/javascript">
	$('li').mouseover(function(){
		$(this).find('.a').css('display','block');
	})
	$('li').mouseout(function(){
		$(this).find('.a').css('display','none');
	})
	</script>
</block>